body{
    background-color: #e7d9ef;
    padding: 10%;
    
}
.maindiv{
    background-color: rgb(189, 178, 193);
}
.header{
    display:flex; 
    width: 500px;
}
.img{
    width: 500px;
    height: 300px;
}
.heading{
    width: 40px;
    height: 40px;
}
.mainhero{
    display: flex;
    justify-content: space-between;
}
.img-right{
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 60%;
    margin-right:-100px;
}
.h2{
    font-size: 50px;
}
.data{

    display: flex;
    justify-content: space-between;
}
.dd2{
    height: 300px;
}
 
.footer
{
background-color: black;
color: white;
font-size: 30px;
padding: 1px;
border-radius:1px;
}
.address{
    font-size:30px;
}
h1{
    font-size: 25px;
    border: 3px  solid;
    width: 450px;
    height: 60px;
    border-radius: 25px;
}
.money{
    width:200px;
    height: 200px;
}

